body {
  font-family: "Roboto Slab";
}

body:focus {
  outline: none;
}

img {
  max-width: 100%;
}

body {
  border-sizing: border-box;
  margin: 0;
  font-family: "Roboto Slab";
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.main {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: colomn;
  flex-direction: colomn;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  min-height: 770px;
  background: url("../img/header-img/header-bg.jpg") center no-repeat;
  background-size: cover;
  background-color: #712b24;
  color: #ffffff;
  z-index: 0;
}

.main:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.main-text {
  position: relative;
  height: 85%;
  text-align: center;
  z-index: 1;
  padding-top: 260px;
  padding-bottom: 260px;
}

.main-text__title {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
}

.main-text__subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 24px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 15%;
  position: relative;
  padding-top: 45px;
  padding-bottom: 5px;
  z-index: 1;
}

.header-menu {
  width: 60%;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.header-menu__link {
  text-decoration: none;
  color: #fff;
}

.header-text__logo {
  font-size: 24px;
  font-weight: 700;
}

.header-text__link {
  font-size: 14px;
  font-weight: 400;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #842719;
  cursor: pointer;
}

.button-o {
  background-color: transparent;
}

.button-submit {
  padding: 0;
  width: 170px;
  height: 44px;
  border: 1px solid #555555;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #555555;
  background-color: transparent;
}

.button-submit:hover {
  background-color: #c0301c;
  color: #fff;
  cursor: pointer;
}

.section-title {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
}

.section-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin-top: 29px;
}

a {
  text-decoration: none;
  color: #777777;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #555555;
  background-color: #ffffff;
}

.services-text__subtitle {
  margin-top: 59px;
  margin-bottom: 70px;
}

.services-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-block {
  min-height: 220px;
  min-width: 345px;
  text-align: center;
  width: 30%;
}

.services-block img {
  min-height: 50px;
  min-width: 50px;
}

.services-block__img-border {
  display: inline-block;
  height: 90px;
  width: 90px;
  padding-top: 16px;
  border: 2px solid #dddddd;
  border-radius: 50%;
  margin-bottom: 30px;
}

.company {
  text-align: center;
  padding-top: 99px;
  padding-bottom: 99px;
  background-color: #f8f8f8;
  color: #555555;
}

.company-header__subtitle {
  margin-top: 60px;
  margin-bottom: 70px;
}

.company-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 71px;
}

.company-blocks__text {
  width: 500px;
  text-align: justify;
}

.company-photo__block__title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.company-photo__block__subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.works {
  padding-top: 99px;
  padding-bottom: 100px;
  color: #555555;
}

.works-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 59px;
}

.works-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 50%;
  margin-bottom: 70px;
}

.works-nav__link {
  text-decoration: none;
}

.works-bloks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.works-block {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-bottom: 30px;
}

.works-block img {
  max-width: 320px;
  max-height: 360px;
}

.call {
  background: url("../img/call-img/call-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  padding-top: 99px;
  padding-bottom: 99px;
  text-align: center;
  position: relative;
  z-index: 0;
}

.call:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c0301c;
  opacity: 0.6;
  z-index: 1;
}

.call-block {
  position: relative;
  z-index: 1;
}

.call-text__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 53px;
}

.blog {
  padding-top: 95px;
  padding-bottom: 24px;
  text-align: center;
}

.blog-header__subtitle {
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 59px;
  margin-bottom: 69px;
}

.blog-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #777777;
  margin-bottom: 77px;
  position: relative;
}

.blog-blocks__first:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1110px;
  height: 1px;
  background-color: #dddddd;
  margin-top: 343px;
}

.blog-block__descr {
  width: 637px;
  text-align: justify;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.blog-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog-block__img {
  width: 460px;
}

.blog-block__title {
  width: 320px;
  vertical-align: middle;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  width: 82%;
}

.blog-block__title span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.blog-block__icon {
  width: 76px;
  height: 76px;
  vertical-align: middle;
}

.blog-block__link {
  text-align: left;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.blog-block__photo {
  width: 39%;
}

.comment {
  text-align: center;
  padding-top: 114px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}

.comment-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 82px;
}

.footer {
  background-color: #c0301c;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  text-align: center;
}

.footer-label {
  margin-bottom: 61px;
}

.footer-label ul {
  width: 25%;
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

.footer-label:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 29px;
}

.footer-label__img {
  margin-right: 7px;
  margin-left: 7px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social__twitter {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/footer-img/white_twitter_bird.png") no-repeat center;
  background-position-y: top;
}

.footer-social__facebook {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/footer-img/white_facebook.png") no-repeat center;
  background-position-y: top;
}

.footer-social__linkedin {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/footer-img/white_linkedin.png") no-repeat center;
  background-position-y: top;
}

.footer-social__rss {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/footer-img/white_rss.png") no-repeat center;
  background-position-y: top;
}

.feedback {
  color: #555555;
  text-align: left;
  padding-top: 99px;
  padding-bottom: 101px;
}

.feedback-subtitle {
  margin-top: 59px;
  margin-bottom: 70px;
  text-align: center;
}

.feedback-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback-block {
  width: 65%;
}

.feedback-text {
  position: relative;
  margin-left: 26px;
}

.feedback-text h3 {
  font-family: Montserrat;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-beetwen;
  -ms-flex-pack: space-beetwen;
  justify-content: space-beetwen;
  width: 100%;
}

.feedback-form__address:before {
  content: url("../img/feedback-img/fa-map-marker.png");
  display: block;
  position: absolute;
  left: -26px;
}

.feedback-form__hotline:before {
  content: url("../img/feedback-img/fa-mobile-phone.png");
  display: block;
  position: absolute;
  left: -26px;
}

.feedback-form__email:before {
  content: url("../img/feedback-img/fa-envelope-o.png");
  display: block;
  position: absolute;
  left: -26px;
}

.form-small {
  text-align: left;
  margin: auto;
}

textarea,
input {
  padding: 17px;
  resize: none;
  width: 50%;
  margin-top: 10px;
  border: 1px solid #555555;
  font-family: "Roboto Slab";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

textarea:hover,
input:hover {
  border: 1px solid #c0301c;
}

textarea:focus,
input:focus {
  outline: #c0301c;
}

textarea {
  width: 100%;
}