.main 
	width: 100%
	max-width: 1366px
	height: 100%
	max-height: 527px
	background-color: #f4f4f4
	padding: 93px 99px 115px 99px
	&::after
	 	content: ""
	 	display: table
	 	clear: both
.block
	width: 286px
	height: 319px
	background-color: #ffffff
	float: right

	
