.header
	height: 240px
	background: url(../img/header/header-bg.jpg) no-repeat center top
	// background-size: 100%
	&-title
		color: #000000
		font-family: "Roboto"
		font-size: 70px
		font-weight: 300
		text-align: center
		mt130